* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0 200px;
    background-color: #1F2937;
}


a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 0;
    background-color: #1F2937;
}

#nav-links {
    width: 10%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

main {
    height: 50vh;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
    height: 80%;

}

.main-sub-cont {
    width: 50%;
    background-color: white;
    /* padding: 0 50px; */
    margin-top: 20px;
}

#left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #1F2937;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}